@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:not(i) {
	font-family: "Rowdies", sans-serif;
}
body {
	background-color: #9cf0ff;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
}
.wrapper {
	width: 92vmin;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 25%;
	left: 46%;
}
.container {
	width: 100%;
	background-color: #ffffff;
	padding: 80px 50px;
	border-radius: 10px;
	-webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.div-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}
#dictionaryDiv{
    display: flex;
    width: 100%;
    height: 100%;
}
.header-div{
    margin: 8% 0% 0% 18%;
    width: 100%;
}
.extra-card{
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	color: #1f194c;
	font-weight: 600;
	-webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	margin-top: 30px;
}
.search-box {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.search-box input {
	padding: 5px;
	width: 70%;
	border: none;
	outline: none;
	border-bottom: 3px solid #6300D9;
}
.search-box button {
	padding: 15px 0;
	width: 25%;
	background-color: #6300D9;
	border: none;
	outline: none;
	color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
}
.titleforweather{
color: #14012b;
}
.result {
	position: relative;
}
.result h3 {
	font-size: 30px;
	color: #1f194c;
}
.result .word {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 80px;
}
.result button {
	background-color: transparent;
	color: #6300D9;
	border: none;
	outline: none;
	font-size: 18px;
}
.result .details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	color: #b3b6d4;
	margin: 5px 0 20px 0;
	font-size: 14px;
}
.word-meaning {
	color: #575a7b;
}
.word-example {
	color: #575a7b;
	font-style: italic;
	border-left: 5px solid #6300D9;
	padding-left: 20px;
	margin-top: 30px;
	font-size: 16px;
}
.error {
	margin-top: 80px;
	text-align: center;
}


.weather_card {
	display: flex;
	border-radius: 10px;
	width: 100%;
	height: 300px;
	padding: 15px;
	box-shadow: -5px 5px 15px 5px rgba(150, 150, 150, 0.2);
    background-color: #9CF0FF;
    margin-top: 60px;
}

.weather_card_img {
	width: 30%;
	display: flex;
	background-size: cover;
	border-radius: 10px;
	overflow: hidden;
}

.weather_card_state {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2px);
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255);
	color: #fff;
	font-size: 50px;
}

.weather_card_state .material-icons {
	font-size: 50px;
}
.material-icons img{
	height: 100px;

}
.weather_card_infos {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 15px;
	padding: 20px 20px;
}
.infos h1{
	font-size: 20px;
	margin-top: 50px;
}

.weather_card_infos_title {
	font-size: 20px;
	font-weight: 300;
	font-weight: bold;
}
.weather_card_infos_desc {
	font-size: 15px;

}
.weather_card_infos_country {
	font-size: 15px;
	font-weight: 300;
	margin: 10px 0px


}
.weather_card_infos_temp {
	font-size: 22px;
	font-weight: 300;
	color: rgb(139, 139, 139);
	margin-top: 15px

}

.date {
	margin-top: 5px;
	font-weight: 300;
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
	font-size: 12px;
}

hr {
	width: 100%;
	height: 1px;
	background: rgba(100,100,100,.2);
	border: none;
}

.bottom {
	  flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.weather_card_infos_bottom {
	font-size: 12px;
	font-weight: 300;
}
#div-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#div-login #form-login{
width: 50%;
margin: 0px auto;
}

#div-login #form-login input{
height: 50px;
}


.btn {
    /*make text wrap nicely in buttons */
    white-space: normal;
}

.locked {
    display: none !important;
    /*locked content must not be shown to user*/
}

.unlocked {
    border-width: initial;
    /*set border-width to whatever the default is. */
}

.secured {
    border-width: initial;
    /*set border-width to whatever the default is. */
}

label {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 40px 20px;
	}
	.search-box button {
		font-size: 14px;
	}
}
